// Roboto Regular - 400
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src:
		local("Roboto"),
		local("Roboto-Regular"),
		url("../assets/fonts/roboto-v15-latin-regular.woff2") format("woff2");
}

// Roboto Medium - 500
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src:
		local("Roboto Medium"),
		local("Roboto-Medium"),
		url("../assets/fonts/roboto-v15-latin-500.woff2") format("woff2");
}
