@import "fonts";
@import "~material-design-icons/iconfont/material-icons";

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
	text-rendering: optimizeLegibility;
	// just electron (webkit)
	-webkit-user-select: none;
}

#app
{
	height: 100%;
}
