.container
{
	display: flex;
	height: 100%;
	flex-direction: column;
}

.preview
{
	flex: 3;

	background-color: #272;
}

.footer
{
	display: flex;
	position: relative;
	height: 250px;

	background-color: #728;
}
